{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">

          <h1 class="display-5 fw-bolder text-white mb-2">
              Welcome to <br> Games project
          </h1>

          <p class="lead text-white-50 mb-4">
              Discover games, developers, genres and countries.
          </p>

        </div>
      </div>
    </div>
  </div>
</header>


<section class="py-5">

  <div class="container px-5 my-5">

    <div class="row gx-5">

      <div class="col-lg-3">
        <a href="{% url 'games:game-list' %}"
           class="stats-link nav-link">
          <div class="card text-center stats-card">
            <div class="card-body">
              <h2>{{ num_games }}</h2>
              <p class="stats-title">
                  Games
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="{% url 'games:developer-list' %}"
           class="stats-link nav-link">
          <div class="card text-center stats-card">
            <div class="card-body">
              <h2>{{ num_developers }}</h2>
              <p class="stats-title">
                  Developers
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="{% url 'games:genre-list' %}"
           class="stats-link nav-link">
          <div class="card text-center stats-card">
            <div class="card-body">
              <h2>{{ num_genres }}</h2>
              <p class="stats-title">
                  Genres
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="{% url 'games:country-list' %}"
           class="stats-link nav-link">
          <div class="card text-center stats-card">
            <div class="card-body">
              <h2>{{ num_countries }}</h2>
              <p class="stats-title">
                  Countries
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

</section>

{% endblock %}
